* {
    margin: 0;
    box-sizing: border-box;
}

.container {
    max-width: 1200px;
    background-color: rgb(134, 134, 108);
    padding: 10px;
    margin: 0 auto;
    min-height: 100vh;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}

.one, .two, .three {
    float: left;
    height: 50vh;
}

.one {
    background-color: rgb(57, 68, 57);
    width: 33%;
}
.two {
    background-color: rgb(59, 49, 45);
    width: 33%;
}
.three {
    background-color: rgb(83, 64, 112);
    width: 33%;
}

@media (max-width: 700px) {
    .container {
        background-color: rgb(43, 68, 43);
    }
    .one, .two {
        width: 50%;
        margin-bottom: 20px;
    }
    .tree {
        width: 100%;
    }
}

@media (max-width: 500px) {
    .container {
        background-color: rgb(110, 109, 45);
    }
    .one, .two {
        width: 50%;
    }
    .tree {
        width: 100%;
    }
}
