/* p {
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    /* font-style: italic;
    font-weight: 800;
    color: lightgray;
    background: rgb(50, 62, 70);
} */

.one {
    color: lightslategrey;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI',
    Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue',
    sans-serif;
}

.three {
    color: lightsteelblue;
    font-family: Impact, Haettenschweiler,
    'Arial Narrow Bold', sans-serif;
    background: lightslategray;
    width: 50%;
    height: 100px;
    padding: 20px 20px 0 40px;
    /* padding-top:; */
    margin: 30px;
}
