* {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #151616;
}

.container {
    min-width: 1200px;
    margin: 0 auto;
    display: grid;
    grid-template-areas:
            "h h h"
            "m m s"
            "f f f";
}
