.container {
    border: 2px solid greenyellow;
    min-height: 300px;
    display: flex;
        /* направление оси */
    flex-direction: row;
        /* flex-direction: row-reverse; */
        /* flex-direction: column; */
        /* flex-direction: column-reverse; */

        /* расприделение по строкам */
        /* flex-wrap: nowrap; */
    flex-wrap: wrap;
        /* flex-wrap: wrap-reverse; */

        /* распределение по ширине */

    justify-content: flex-start;

        /* justify-content: flex-end; */
        /* justify-content: center; */
        /* justify-content: space-between; */
        /* justify-content: space-around; */
        /* justify-content: space-evenly; */

        /* выравнивание элементов */

    align-items: flex-start;
        /* align-items: flex-end; */
        /* align-items: center; */
        /* align-items: baseline; */

        /* растянуть элементы по высоте родителя это раюотает если высота
        элемента не задана*/

        /* align-items: stretch; */

        /* строки внутри контейнера */
    align-content: flex-start;

}

.item {
    width: 100px;
    height: 100px;
    background: greenyellow;
    margin: 10px;
    font-size: 50px;
    text-align: center;
}

.h200 {
    /* height: 200px; */
}

.h150 {
    /* height: 150px; */
}

.h250 {
    /* height: 250px; */
}

.test-item {
    /* ордер определяет порядок элемента внутри контейнера */
    order: 1;
    /* flex-grow какую часть от родителя может занимать элемент*/
    flex-grow: 2;
}

.test-item-2 {
    order: 1;
    flex-grow: 2;
    /* flex-shrink до каких пор елемент может сжиматься */
    flex-shrink: inherit;
    /* выбить какой-то элемент из общего положения */
    align-self: flex-end;
}

.container-2 {
    border: 3px solid rgb(0, 174, 190);
    margin-top: 50px;
    min-height: 100px;
    display: flex;
    /* flex-direction: row; */
    flex-wrap: wrap;
    justify-content: space-between;
}

.item-2 {
    background: rgb(43, 226, 189);
    margin: 10px;
    width: 200px;
    height: 150px;
}
