.wrap {
    margin: 50;
    border: 3px solid red;
    min-height: 10px;
}

.one {
    width: 200px;
    height: 200px;
    background: orangered;
    float: left;
}

.two {
    width: 220px;
    height: 220px;
    background: greenyellow;
    float: left;
}

.three {
    width: 220px;
    height: 220px;
    background: yellow;
    float: left;
}

.clearfix {
    clear: both;
}
