

.container{
    display:grid;
    grid-template-columns: 2fr 1fr;
}

.item{
    padding: 20px;
}

.item:nth-child(even){
    background: rgb(100, 200, 200);
}

.item:nth-child(odd){
    background: rgb(130, 180, 250);
}
